<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:5000/static/css/styles.css">
    <link rel="icon" href="http://localhost:5000/static/images/Logo.png">
    <title>Alf's Todo List</title>
</head>
<body>
    <div class="container">
        <div class="todo-app">
            <h2>
                <img src="http://localhost:5000/static/images/Alf.png" alt="alf mascot" class="alf">
                Alf's Todo-List 
            </h2>
            <form  action="/add_task" method="post">
                <div class="row">
                    <input type="text" id="input-box" name="task" placeholder="Add your text">
                    <button type="submit">Add</button>
                </div>
            </form>
            <ul id="list-container">
                {% for todo in todo_list %}
                <div class="todo-item">
                    <a href="/update_task/{{todo.task_id}}">
                        <li class="{{ 'checked' if todo.status else 'unchecked' }}">{{todo.task}}</li>
                    </a>
                    <a href="/delete_task/{{todo.task_id}}" class="delete"><img src="http://localhost:5000/static/images/x.svg" alt="alf mascot" class="x-button"></a>
                </div>
                {% endfor %}
            </ul>
        </div>
        <img src="http://localhost:5000/static/images/Alf-Wave.png" alt="alf-wave" class="alf-wave">
    </div>
</body>
</html>