<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AWSCC-PUP Manila Todo App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1 class="title">AWSCC-PUP Manila Todo App</h1>
            <p class="name">By: Your Name</p>
        </header>

        <main>
            <ul>
                {% for todo in todos %}
                    <li>{{ todo.task }}</li>
                {% endfor %}
            </ul>
        </main>

    </div>
</body>
</html>