@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #f0f0f0;
    --secondary-color: #333;
    --awscc-color: #bf5ddc;
    --common-white: #fff;
    --darker-white: #edeef0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-image: url('http://localhost:5000/static/images/Space.png');
    background-position: center;
    background-size: cover;
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: var(--common-white);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.todo-app h2 {
    color: var(--awscc-color);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 10px;
}

.todo-app  h2 img {
    width: 60px;
    margin-right: 10px;;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--darker-white);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;

}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: var(--awscc-color);
    color: var(--primary-color);
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-image: url('http://localhost:5000/static/images/unchecked.svg');
    background-image: cover;
    background-position: center;
    top: 11px;
    left: 8px;
}

ul li.checked {
    color: var(--awscc-color);
    text-decoration: line-through;
}

a {
    text-decoration: none;
    color: var(--awscc-color);
}

ul li.checked::before {
    background-image: url('http://localhost:5000/static/images/checked.svg');
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.x-button {
    height: 20px;
    margin-top: 10px;
}

.alf-wave {
    width: 10rem;
    position: fixed;
    bottom: 2rem;
    right: 2rem;;
}
